table {
  border-collapse: collapse;
}

table, td, th {
  border: 2px solid black;
}

/*  Niveles  */
.tabla-center-niveles table{
	margin-left:auto; 
  	margin-right:auto;
}

#th-amarillo{
	background-color: #a38b28;
	color: white;
	border-color: black;
}

#th-azul{
	background-color: #004D80;
	color: white;
	border-color: black;
}

#th-verde{
	background-color: #027001;
	color: white;
	border-color: black;
}

#th-rojo{
	background-color: #EE230C;
	color: white;
	border-color: black;
}

#th-vacio{
	background-color: white;
	color: white;
	border-color: white;
}


